<form class="create-form" role="form" ng-submit="createPropertiesCtrl.createProperty(createPropertiesCtrl.newProperty)" novalidate>
    <div class="form-group">
        <label for="newPropertyName">Property name</label>
        <input type="text" class="form-control" id="newPropertyName" ng-model="createPropertiesCtrl.newProperty.name" placeholder="Enter property name">
    </div>
    <div class="form-group">
        <label for="newPropertyValue">Property value</label>
        <input type="text" class="form-control" id="newPropertyValue" ng-model="createPropertiesCtrl.newProperty.value" placeholder="Enter property value">
    </div>

    <button type="submit" class="btn btn-link">Create property</button>

    <button type="button" class="btn btn-link" ng-click="createPropertiesCtrl.cancelCreating()">
        <span class="glyphicon glyphicon-stop"></span>
        Cancel creating
    </button>
</form>